.square {
	height: 0;
}

.square-20 {
	width: 20%;
	padding-bottom: 20%;
}

.square-25 {
	width: 25%;
	padding-bottom: 25%;
}

.square-33 {
	width: 33.333333%;
	padding-bottom: 33.333333%;
}

.square-50 {
	width: 50%;
	padding-bottom: 50%;
}

.square-100 {
	width: 100%;
	padding-bottom: 100%;
}

.square {
	position: relative;
	display: inline-block;
	vertical-align: top;
	background-color: #eee;
}

.grid {
	display: block;
	padding: 0;
	margin: 0 -6px 12px;
	text-align: left;
	font-size: 0;
}

.grid-cell {
	display: inline-block;
	margin: 0;
	padding: 0 6px;
	text-align: left;
	vertical-align: top;
	width: 100%;
	font-size: 16px;
}

.grid-20 {
	width: 20%;
}

.grid-25 {
	width: 25%;
}

.grid-33 {
	width: 33.333333%;
}

.grid-50 {
	width: 50%;
}

.square {
	overflow: hidden;
	border-radius: 8px;
	background-size: cover;
	box-shadow: 0 3px 12px rgba(37, 34, 67, 0.9);
}

.one {
	background-image: url(https://assets.iamsteve.me/placeholder/1.jpg);
}
